input{
	font-family="Times New Roman";
	font-size: 150%;
}

label{
	font-family="Times New Roman";
	font-size: 100%;
}
p{
	font-family="Times New Roman";
	font-size: 150%;
}

input[type=text]{
border: 2px solid red;
background-color: pink;
color: white;
}

input[type=password]{
border: 2px solid red;
background-color: pink;
color: white;
}

input[type="checkbox"]{
border: 2px solid red;
background-color: green;
color: black;
}

textarea{
	background-color: lime;
}